

  .mainnavbar {
    margin-top: 10px;
  }
  
.mainnavbar h1 {
    font-size: 50px;
    font-weight: bold;
    color: brown;
  }
  
  .mainnavbar h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(27, 27, 27);
  }
  
 
